<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
crossorigin="anonymous">

<style>
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
</style>

<div class="edit-container">
<div class="row">
    <div class="col-md-6">
        <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="height: 40rem; width:30rem; margin-left: 3rem;">
            <div class="card-body">
                <br>
                <h1 class="card-title title1-color">EDIT ARTICLE</h1>
                <br><br>
                <%= render partial: 'form' %>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ele">
        </div>
    </div>
</div>

</div>